<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title th:text="${board.title}"></title>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="layout/header::header"></div>
<div class="container">
    <div class="page-header">
        <h1>게시글</h1>
    </div>
    <br/>
    <input id="board_idx" type="hidden" th:value="${board.idx}"/>
    <table class="table">
        <tr>
            <th style="padding: 13px 0 0 15px">게시판 종류</th>
            <td>
                <div class="pull-left">
                    <span th:text="${board.boardType}"></span>
                </div>
            </td>
        </tr>
        <tr>
            <th style="padding:13px 0 0 15px;">시간</th>
            <td><span class="" th:text="${#temporals.format(board.createdDate,'yyyy-MM-dd HH:mm')}"></span></td>
        </tr>
        <tr>
            <th style="padding: 13px 0 0 15px;">제목</th>
            <td><span id="board_title" class="" th:text="${board.title}"></span><small class="code" th:if="${board.createdDate!=board.updatedDate}">(수정됨)</small></td>
        </tr>
        <tr>
            <th style="padding: 13px 0 0 15px;">작성자</th>
            <td><span id="board_sub_title" class="" th:text="${board.user.name}"></span></td>
        </tr>
        <tr>
            <th style="padding: 13px 0 0 15px;" th:colspan="2">내용</th>
        </tr>
        <tr>
            <td th:colspan="2">
                <span id="board_content" class="" style="height: 200px;" th:text="${board.content}"></span>
                <span class="help-block"></span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>
    <div class="pull-left">
        <a href="/" class="btn btn-default">목록으로</a>
    </div>
    <div class="pull-right" th:if="${session.user?.idx == board.user.idx}">
        <button type="button" class="btn btn-info" id="update">수정</button>
        <button type="button" class="btn btn-danger" id="delete">삭제</button>
    </div>
    <div class="clearfix"></div>
    <div class="comment-area">
        <div class="comment-area-header">
            <h5>
                댓글 <span id="total_comment_count" th:text="${commentList.totalElements}"></span>개 &nbsp;
            </h5>
        </div>
        <div class="comment-real-area">
            <a href="#" th:style="'display: '+${commentList.last ? 'none': 'block'}" id="view-comment-prev-page-btn">이전 댓글 더보기</a>
        </div>
        <a href="javascript:location.reload();" id="load-new-comments-btn" class="btn btn-sm btn-info invisible" style="margin: 0 15px"></a>
        <div id="comment-write-form-area">
            <textarea th:if="!${session.user}" name="content" id="comment-login" rows="4" class="form-control" placeholder="로그인이 필요합니다. 로그인하시겠습니까?" style="height: 150px"></textarea>
            <textarea th:if="${session.user}" name="content" id="comment-content" rows="4" class="form-control" placeholder="내용을 입력해주세요." style="height: 150px"></textarea>
            <div id="comment-write-button-area">
                <button class="btn btn-primary pull-right btn-sm" type="submit" id="comment-post"><span class="glyphicon glyphicon-pencil"></span>댓글쓰기</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="layout/footer::footer"></div>
<script th:src="@{http://code.jquery.com/jquery-3.3.1.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script th:src="@{/js/stomp.min.js}"></script>
<script th:if="${session.user?.idx == board.user.idx}">
    $('#update').click(function(){
        location.href = '/board/write?idx='+$('#board_idx').val();
    });
    $('#delete').click(function(){
        $.ajax({
            url: "http://localhost:8080/api/boards/"+$('#board_idx').val(),
            type:"DELETE",
            success: function (){
                location.href = '/';
            },
            error : function(){
                alert('삭제 실패!');
            }
        });
    });
</script>
<script th:if="${commentList}" th:inline="javascript">
    for(const comment of /*[[${commentList.content}]]*/""){
        makeCommentTag(comment["idx"],comment["user"]["name"],comment["createdDate"],comment["updatedDate"],comment["user"]["idx"],comment["content"]);
    }

    function makeCommentTag(idx, name, createdDate, updatedDate, userIdx, content){
        let tag="<div class='comment' id='comment-"+idx+"' data-id='"+idx+"'><div class='comment-header'><div class='comment-writer'>"+name+"</div>";
        if(userIdx===/*[[${board.user.idx}]]*/""){
            tag+="<small class='code equals-board-writer'>(글쓴이) </small>";
        }
        if(createdDate!==updatedDate){
            tag+="<small class='code comment-updated'>(수정됨) </small>";
        }
        tag+="<div class='comment-menu'>";
        if(userIdx===/*[[${session.user?.idx}]]*/"") {
            tag+="<div class='comment-update-delete'><a class='update-comment' href='/board/comment_edit/"+idx+"'>수정</a><span class='middot'>·</span><a class='delete-comment' href='#' data-id='"+idx+"'>삭제</a><span class='middot'>·</span></div>"
        }
        tag+="<span class='time' title='"+createdDate+"'>"+createdDate+"</span></div><div class='clearfix'></div></div><div class='comment-content'><span>"+content+"</span></div>";
        $('#view-comment-prev-page-btn').after(tag);
    }
</script>
<script th:if="!${commentList.last}" th:inline="javascript">
    $('#view-comment-prev-page-btn').click(function(e) {
        e.preventDefault();
        let lastcommentId = Number.MAX_SAFE_INTEGER;
        $(".comment").each(function (){
            let id = parseInt($(this).attr("data-id"));
            if(id < lastcommentId) lastcommentId = id;
        });
        $.ajax({
            url:"http://localhost:8080/api/comments/"+$("#board_idx").val()+"?lastCommentId="+lastcommentId,
            type: "GET",
            success: function(data){
                for(const obj of data["content"]){
                    let id = obj["idx"];
                    let userName = obj["user"]["name"];
                    let createdDate = obj["createdDate"];
                    let updatedDate = obj["updatedDate"];
                    let userIdx = obj["user"]["idx"];
                    let content = obj["content"];
                    makeCommentTag(id, userName, createdDate, updatedDate, userIdx, content);
                }
                $(".comment-real-area").prepend($('#view-comment-prev-page-btn'));
                if(data["last"]){
                    $('#view-comment-prev-page-btn').attr('style',"display: none");
                }
            },
            error : function (error){
                alert(error);
            }
        })
    });
</script>
<script>
    let boardId = $('#board_idx').val();
    let newComments = 0;
    let socket = new SockJS('/stomp');
    let stompClient = Stomp.over(socket);
    stompClient.debug=null;
    stompClient.connect({},function(){
        stompClient.subscribe('/board/'+boardId, function (){
            $('#load-new-comments-btn').removeClass('invisible');
            $('#load-new-comments-btn').text("새 댓글 "+(++newComments)+"개")
        });
    });


    $('#comment-post').click(function(){
        if(!$('#comment-content').length){
            alert("로그인이 필요합니다!");
            return;
        }
        if(!$('#comment-content').val()){
            alert("내용을 입력해주세요!");
            return;
        }
        let jsonData = JSON.stringify({
            content : $('#comment-content').val()
        });
        $.ajax({
            url: "http://localhost:8080/api/comments/"+boardId,
            type: "POST",
            data: jsonData,
            contentType: "application/json",
            dataType: "json",
            success : function (){
                location.reload();
            },
            error : function (){
                alert('댓글 등록 실패!');
            }
        });
    });
    $('.delete-comment').click(function(){
        if(confirm("댓글을 삭제하시겠습니까?")){
            $.ajax({
                url: "http://localhost:8080/api/comments/"+$(this).data("id"),
                type: "DELETE",
                success: function (){
                    location.reload()
                },
                error : function (){
                    alert('댓글 삭제 실패!');
                }
            });
        }
    });
    $('#comment-login').click(function(){
        if(confirm("로그인하시겠습니까?")){
            location.href ="/login";
        }
    });
</script>
</body>
</html>